@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk.ttf);
}

@media (prefers-color-scheme: dark) {
	:root {
        --color-text: #F7EDE2;
        --color-background: #000;
        --color-background_top: #2F413D;
        --color-accent: #84A59D;
	}
}

@media (prefers-color-scheme: light) {
	:root {
        --color-text: #000;
        --color-background: #fff;
        --color-background_top: #F7EDE2;
        --color-accent: #84A59D;
	}
}

/* General Styles */
body {
    width: 100%;
    font-family: 'SpaceGrotesk', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;

    letter-spacing: 0px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

section {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 3rem;
}

a {
    color: var(--color-text);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color : var(--color-accent);
}

small {
    padding : 0;
    margin : 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    margin: 0;
    line-height: 1.2;
    font-weight: 550;
    letter-spacing: 0.08rem;
    text-align: left;
    padding-bottom: 0.5rem;
    width: 100%;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 0rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 450;
    padding : 0;
    margin : 0;
}

.background_pattern {
    background-image: url("images/pattern.png");
    background-position: center center;
}

p {
    padding-top: 0.3rem;

}

b {
    font-weight: 540;
}

small {
    font-size: 0.8rem;
}

/* Cases */
.case {
    margin-top: 3rem;
}

.case a {
    margin-top : 1rem;
    margin-bottom : 1rem;
}

.firstcase {
    margin-top: 1rem;
}

.caseimage_container {
    width : calc(100% - 8rem);
    padding : 4rem;
    overflow: scroll;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    scrollbar-width: none;
    text-align: center;
}

.caseimage_container div {
    cursor: grab;
    height: 25rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;
}

.caseimage_container video {
    border-radius: 1rem;
    min-width: none;
    height : 25rem;
}

.caseimage_container::-webkit-scrollbar {
    display: none;
}

.case_description {
    display: none;
}

/* Bookmarks */
.bookmark {
    margin-top : 1rem;
    margin-bottom : 1rem;
}

.bookmark a {
    text-decoration : none;

}

.bookmark a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
nav {
    width: 100%;
    width : 60rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    margin-right: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}


/* Header Styles */
header {
    width: 60rem;
    padding-left: calc(50vw - 30rem);
    padding-right: calc(50vw - 30rem);
    min-height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    background-color: var(--color-background_top);
}

.minimal {
    min-height : 0;
    height : auto;
    background: none;
}

/* Work Experience Section */
#work-experience ul {
    list-style: none;
    padding: 0;
}

#work-experience li {
    padding-bottom: 0.2rem;
}

/* Footer Styles */
footer {
    width: 60rem;
    height: 100%;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 0;
}

footer h1 {
    text-align: center;
}

footer img {
    width: 10rem;
    border-radius: 50%;
    margin-top: 1rem;
}

footer .caseimage_container img {
    padding : 0;
}

footer .caseimage_container {
    background-color: var(--color-background_top);
}

#handcrafted {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

/* Media Query for Tablets */
@media screen and (max-width: 1023px) {
    body {
        width: 100%;
    }

    header,
    footer,
    section {
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    header {
        height: 100vh;
    }

    h1 {
        font-size: 3rem;
        letter-spacing: 0.04rem;
        line-height: 1.3;
    }

    h2 {
        font-size: 2.5rem;

    }

    nav {
        width : 100%;
    }

    .caseimage_container div {
        padding-right : 4rem;
        background-position: center left;
    }

}

/* Enhanced Media Query for Mobile Phones */
@media screen and (max-width: 600px) {

    body,
    header,
    footer,
    section {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .caseimage_container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}