@font-face {
    font-family: PoltawskiNovy;
    src: url(PoltawskiNowy-VariableFont_wght.ttf);
}

:root {
    /* Defining Pastel Color Palette */
    --color-text: #463f3a; /* Soft dark gray for text */
    --color-background: #f4f3ee; /* Very light pastel background */
    --color-primary: #f4f3ee; /* Pastel blue */
    --color-secondary: #e0afa0; /* Off-white pastel */
    --color-accent: #e63946; /* Soft red for accents */
    --color-border: #a2a2a2; /* Light gray for borders */
}

/* General Styles */
body {
	width : 100vw;
    font-family: 'Helvetica', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
	padding : 0;
	margin : 0;
	font-size : 1em;
	font-weight : 100;
	letter-spacing : 0.8px;
	text-align: left;

	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    overflow-x:auto;
}

section {
	width: 960px;
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
    padding-top : 3em;
    padding-bottom : 3em;
}

section img {
    padding-bottom : 1em;
}

a {
    color : var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: var(--color-text);
	font-size: 4em;
	margin : 0;
	font-family: "PoltawskiNovy", serif;
	line-height: 1.3;
	font-variation-settings: "wght" 100;
	letter-spacing : 0.0px;
    text-align: left;
    padding-bottom : 0.5em;
    width : 100%;
}

h2 {
    color: var(--color-text);
    font-size: 2em;
    font-weight : 600;
    padding-bottom : 0.5em;
}

h3 {
    color: var(--color-text);
    font-size: 1.2em;
    font-weight : 600;
    padding-bottom : 0.4em;
}

p {
	font-size : 1em;
	font-variation-settings: "wght" 250;
	letter-spacing : 0.8px;
	text-align: left;
    color: var(--color-text);
}

/* Cases */
.case {
    margin-top : 1em;
    margin-bottom : 1em;
}

.case img {
    margin-bottom : 1em;
}

/* Navigation Bar */
nav {
    width : 960px;
	height : 3em;
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* This will align your nav items horizontally */
    flex-direction: row;
    justify-content: left;
}

nav li {
    margin-right: 2em; /* Adds spacing between nav items */
}


/* Header Styles */
header {
	width : 960px;
	min-height : calc(100vh - 50px);
    text-align: left;
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}


/* Work Experience Section */
#work-experience {
    background: var(--color-background);
}

#work-experience ul {
    list-style: none;
    padding: 0;
}

#work-experience li {
    padding-bottom : 0.4em;
}

/* Project Portfolio Section */
#project-portfolio .case {
    background: var(--color-background);
}

.caseimage {
    width: 100%;
    height: auto;
    margin-top: 1em;
}

/* Footer Styles */
footer {
}

footer#contact-info {
	width : 960px;
	height : 100%;
    text-align: left;
    padding: 3em 0;
}

footer#contact-info img {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 1em;
}

/* Media Query for Tablets */
@media screen and (max-width: 1023px) {
    body {
        margin-left:5vw;
        align-items: start;
    }

    body, header, footer#contact-info, section {
        width: 90vw; /* Adjust width for tablet screens */
    }

    h1 {
        font-size: 3em; /* Adjust heading size for tablet screens */
    }

    h2 {
        font-size: 1.5em; /* Adjust subheading size */
    }

    nav {
        visibility: hidden;
    }

    header {
        min-height : 100vh;
    }

}

/* Enhanced Media Query for Mobile Phones */
@media screen and (max-width: 600px) {
    body, header, footer#contact-info, section {
        width: 94vw; /* Increase width to use more of the small screen */
        margin: auto; /* Center content */
        font-size: 0.9em;

    }

    body {
        margin-left: 3vw;
        align-items: start;
    }

    h1 {
        font-size: 2.5em; /* Reduce heading size for mobile screens */
    }

    h2 {
        font-size: 1.4em; /* Reduce subheading size */
    }

    h3 {
        font-size: 1.2em; /* Reduce subheading size */
    }

    p {
        font-size: 0.9em; /* Reduce paragraph font size */
    }
}

/* General Responsive Adjustments */
img, .caseimage {
    max-width: 100%;
    height: auto; /* Ensures images are responsive and maintain aspect ratio */
}

section {
    max-width: 100%; /* Ensures sections do not overflow on small screens */
}