@font-face {
    font-family: Inter;
    src: url(SpaceGrotesk.ttf);
}

:root {
    --color-text: #000;
    --color-background: #F7EDE2;
    --color-primary: #f4f3ee;
    --color-secondary: #84A59D;
    --color-accent: #F6BD60;
}

/* General Styles */
body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 0px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

section {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 3rem;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    margin: 0;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0.08rem;
    text-align: left;
    padding-bottom: 0.5rem;
    width: 100%;
    color : var(--color-secondary);
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 0rem;
}

.background_pattern {
    background-image: url("images/pattern.png");
    background-position: center center;
}

p {
    padding-top : 0.3rem;
}

b {
    font-weight: 600;
}

small {
    font-size: 0.8rem;
}

video {
    border-radius: 1rem;
}

#draggable {
    cursor: grab;
}

#draggable div {
    height: 400px;
    width: 1200px;
    background-image: url('images/rt_challenges.png');
    background-size: contain;
}

/* Cases */
.case {
    margin-top: 3rem;
}

.firstcase {
    margin-top: 0;
}

.caseimage_container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 100%;
    overflow: scroll;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    text-align: center;
    scrollbar-width: none;
}

.caseimage_container::-webkit-scrollbar {
    display: none;
}

.caseimage {
    height: 25rem;
    width: auto;
    padding-left : 6rem;
    padding-right : 6rem;
}

/* .caseimage_container small {
    color : var(--color-background);
}

.caseimage_container a {
    color: var(--color-background);
} */

/* Navigation Bar */
nav {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* This will align your nav items horizontally */
    flex-direction: row;
    justify-content: center;
}

nav li {
    margin-right: 2rem;
    /* Adds spacing between nav items */
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Header Styles */
header {
    width: 60rem;
    padding-left: calc(50vw - 30rem);
    padding-right: calc(50vw - 30rem);
    min-height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    /* background: linear-gradient(326deg, var(--color-background) 0%, var(--color-secondary) 100%); */

    background-color: #fff;
}

/* Work Experience Section */
#work-experience ul {
    list-style: none;
    padding: 0;
}

#work-experience li {
    padding-bottom: 0.2rem;
}

/* Footer Styles */
footer {
    width: 60rem;
    height: 100%;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 0;
}

footer h1 {
    text-align: center;
}

footer img {
    width: 10rem;
    border-radius: 50%;
    margin-top: 1rem;
}

footer .caseimage_container {
    background-color: #fff;
}

#handcrafted {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

/* Media Query for Tablets */
@media screen and (max-width: 1023px) {
    body {
        width: 100%;
    }

    header,
    footer,
    section {
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    header {
        height: 100vh;
        justify-content: center;
    }

    h1 {
        font-size: 3rem;
        /* Adjust heading size for tablet screens */
    }

    h2 {
        font-size: 2.5rem;
        /* Adjust subheading size */
    }

    header nav {
        display: none;
    }

}

/* Enhanced Media Query for Mobile Phones */
@media screen and (max-width: 600px) {

    body,
    header,
    footer,
    section {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.2rem;
        /* Reduce heading size for mobile screens */
    }

    h2 {
        font-size: 2rem;
        /* Reduce subheading size */
    }

    h3 {
        font-size: 1.2rem;
        /* Reduce subheading size */
    }

    .caseimage_container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}